// fonts
// ================================================
$primary-font: 'Ubuntu', sans-serif;
$primary-font-weight: 400;

$body-size: 16px;
$body-line: 26px;

// colours
$black: #000000;
$white: #ffffff;

$light-grey:    #efefef;
$mint:          #00d0a3;


$padding: 15;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
) !default;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px
) !default;

