@import "../../styles/imports/variables";
@import "../../styles/imports/utils";

.header-bar {

    width: 100%;
    background-color: $black;
    min-height: rem(60);

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        align-content: stretch;
        flex-flow: row nowrap;
    }

    &__left,
    &__right {
        width: 50%;
    }

    &__right {
        @include font-smoothing;
        color: $white;
        font-size: rem(18);
        line-height: rem(18);
        font-weight: 300;
        display: flex;
        align-items: center;
        align-content: center;
        flex-flow: row wrap;
        justify-content: flex-end;
    }

    a {
        color: $white;
        text-decoration: none;

        &:hover,
        &:focus {
            outline: 0;
        }
    }

    &__back {
        display: flex;
        width: auto;
        align-items: center;
        align-content: center;
        height: rem(60);

        svg {
            margin: 0 rem(10) 0 0;
        }
    }


}


/*
    Medium Screens
*/
@media screen and (min-width: map-get($grid-breakpoints, 'md')) {

    .header-bar {

        a {

            &:hover,
            &:focus {
                text-decoration: underline;
            }

        }

    }

}